@import "../GlobalStyle";

.AboutDescriptionComp {
  padding: 120px 0 40px 0;

  .description__wrapper {
    margin-top: -10px;
    text-align: justify;

    span {
      font-weight: 700;
    };
  };
};